# Configurações da API
VITE_API_URL=https://my-day-agenda-online-api.vercel.app

# Email do administrador do sistema (usuário com acesso ao painel admin)
VITE_ADMIN_EMAIL=seu-email-admin@exemplo.com

